.header{
  background-color: rgb(40, 169, 212);
  color: azure;
  padding: 40px;
  margin: 0;
  text-align: center;
}

.table {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 80%;
  box-shadow: 1px;
  border-collapse: collapse;
}

.th {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  text-align: center;

}

.body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 254, 254);
}

.td {
  text-align: center;
  color: rgb(91, 97, 104);
  border-bottom: 1px solid lightgrey;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
}